# Build directory (hasil cmake/make)
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*_autogen/
*.moc
*.app

# Executable
screenkey_app
murrikey

# Qt & OS junk
.qt/
.qt
.directory
.DS_Store
.cache
.cache/
.assets/
.debian/
# Konfigurasi lokal (agar tidak bentrok dengan orang lain)
*.conf
